VITE_FIREBASE_API_KEY=AIzaSyDINIYLaa9pLrm5lLWAcxjEyiQ_GPkiV9s
VITE_FIREBASE_AUTH_DOMAIN=http://mdt-tributacao-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mdt-tributacao-prod
VITE_FIREBASE_STORAGE_BUCKET=http://mdt-tributacao-prod.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=232272220948
VITE_FIREBASE_APP_ID=1:232272220948:web:c96b25da1499c3f89ba801
VITE_FIREBASE_measurementId=G-3YMJ0MT997