node_modules
dist
build
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.local
.env.*.local
.env.example
.env.*.example

.vite
.cache

# Firebase
.firebase/
firebase-debug.log*
.dataconnect
